body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #c0a6c2;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.article {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 300px;
  text-align: left;
}

.article h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.article img {
  max-width: 50%;
  height: auto;
  border-radius: 50px;
}

.article p {
  font-size: 1em;
  color: #333;
  margin: 10px 0;
}

.article .buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.article button {
  background-color: #e75fe0;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
}

.article button:hover {
  background-color: #c05dde;
}

/* Estilos para el Header y Footer */
.header {
  background-color: #6b21a4;
  color: #9126e2;
  padding: 20px;
  text-align: center;
}

.footer {
  background-color: #e449d7; /* Color lila más oscuro */
  color: #fa0bce;
  padding: 20px;
  text-align: center;
}

.header h1, .footer p {
  margin: 0;
}

/* Estilos para el ChatBox */
.chat-box {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 300px;
}

.chat-box h3 {
  margin-top: 0;
}

.chat-box input[type="text"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.chat-box button {
  background-color: #ca37af;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 10px;
}

.chat-box button:hover {
  background-color: #c05dde;
}

/* Estilos para el Stories */
.stories {
  background-color: #a14bca;
  border: 3px solid #131212;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 1px;
  padding: 20px;
  width: 300px;
}

.stories h3 {
  margin-top: 0;
}

.react-stories {
  font-style: italic;
  color: #000;
}

.story-image {
  max-width: 20%;
  height: auto;
  margin: 20px 0;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Estilos para el botón de sugerencias */
.suggestions-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  margin: 10px;
}

.suggestions-button:hover {
  background-color: #c05dde;
}


